body{
	background-color: #5bbed3

}
header{
	position: fixed;
}

.user-details {
	position: relative; padding: 0;
margin-top: 50px;
}
.user-details .user-image {
	position: relative; 
	 z-index: 1;
	  width: 20%; 
	  text-align: center;}
 .user-image img { 
 	clear: both;
   margin: auto;
    position: relative;
     position: relative;
    margin-top: 40px;
    height: 132px;
    width: 132px;
    right: -307px;
    top: 49px;
}

.user-details .user-info-block {
	width: 100%; 
  position: absolute; 
  right: -280px;
    top: 138px;
   background: rgb(255, 255, 255);
    z-index: 0;
     padding-top: 35px;
  }

 .user-info-block .user-heading {
 	width: 100%;
   text-align: center; 
   margin: 10px 0 0;}
 .user-info-block .navigation {
 	float: left;
   width: 100%;
    margin: 0px;
     padding: 0;
      list-style: none;
       border-bottom: 1px solid #428BCA;
        border-top: 1px solid #428BCA;
      }
  .navigation li {
  	float: left; margin: 0; padding: 0;}
   .navigation li a {
   	padding: 20px 30px;
     float: left;
   }
   .navigation li.active a {
   	background: #428BCA; color: #fff;}
 .user-info-block .user-body {
 	float: left; 
  padding: 5%;
border: 1px solid #428BCA;
    border-bottom-width: thin;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
   width: 90%;
 }
  .user-body .tab-content /*> div*/ 
  {
  	float: left; width: 100%;}
  .user-body .tab-content h3 {
  	width: 100%; margin: 10px 0; color: #333;}
  .popupBoxWrapper{
     max-width: 550px;
     width: 95%;
     margin: 
     50px auto; 
     text-align: left;
 }

 .navstyling{
padding-top: 55px;
margin-top: 50px;
position: absolute;
 }
 #sidebar-wrapper{
  height: 100%;
  position: fixed;
 }

